<h1>StaticPages#about</h1>
<h2>Hi, I'm Melissa Ryan</h2>
<p>Aspiring Web Developer</p>
<h2>About me</h2>
        <p>Humorist, skincare junkie, beach lover, part time runner, seeker of information, and reader of many types of books.</p>
<h3>My Skills</h3>
            <ul>
              <li>Content Development</li>
              <li>Problem Solving</li>
              <li>Data Analysis</li>
            </ul>

