
<h3>About Us</h3>
<br><br><br>
<div class ="about">
	<h2>Hi, I'm Melissa Ryan</h2>
	<p>Junior Web Developer dabbling in the designs of Aprons.</p>

	<h2>About me</h2>
        <p class="me">Builder, Problem Solver, Humorist, skincare junkie, beach lover, part time runner, seeker of information, and reader of many types of books.</p>
	
</div>