<h3>StaticPages#contact</h3>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<h2>Contact Me</h2>
          <ul >
            <li>meryan569@gmail.com</li>
            <br>
            <li>310-303-9760</li>
            <br>
            <li>Goleta, CA</li>
          </ul>