<table>
	<tbody>
		<tr>
			<td><h2>Payment Confirmation</h2></td>
		</tr>
		<tr>
			<td><p>Thank you for recent purchase with Pink Honeybee Designs!</p></td>
		</tr>
		<tr>
			<td><p><strong>Your Pink Honeybee Team</strong></p></td>
		</tr>
	</tbody>
</table>